
  @charset "utf-8";

  /* =Color
  ----------------------------------------------- */

  body {
    background-color: rgba(6, 100, 62, 0.025); /* --green */
    color: rgb(40, 41, 43);
    min-width: 1000px;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  }

  /*
  @media (min-width: 1100px) {
    body {
      zoom: 1.1;
    }
  }

  @media (min-width: 1200px) {
    body {
      zoom: 1.2;
    }
  }
  */

  #container_home_header,
  #container_header {
    /*
    background-image: url(images/four-students.png), linear-gradient(#dcdede, #fafafa) !important;
    background-position: 3em calc(100% - 3em), bottom, top !important;
    background-size: 200px auto, contain, auto !important;
    background-repeat: no-repeat, no-repeat, repeat !important;
    */
    height: 350px !important;
    height: 55vh !important;
    min-height: 32.5vw;
    padding: 1.5em 3em 3em !important;
    box-sizing: border-box;
  }

  /*
  #container_home_header {
    bacground-color: rgb(237, 237, 239);
    background-image: url(images/azusa.svg), none, linear-gradient(rgb(237, 237, 239), rgb(237, 237, 239)) !important;
    background-position: center, bottom, top !important;
    background-size: 20vmax auto, contain, auto !important;
    background-repeat: no-repeat, no-repeat, repeat !important;
    height: 20vmax !important;
    min-height: 0;
  }
  */

  #container_home_header,
  #container_header {
    background: rgb(237, 237, 239);
    position: relative;
    background-position: bottom !important;
    background-size: cover !important;
  }
  #container_home_header {
    background-image: url(images/students.jpg) !important;
  }
  .azusa-students #container_home_header,
  .azusa-students #container_header {
    background-image: url(images/students.jpg) !important;
    background-position: bottom !important;
    background-size: cover !important;
  }
  #container_home_header::after,
  #container_header::after {
    content: "";
    width: 200px;
    height: 120px;
    position: absolute;
    background: transparent url(images/azusa-border.svg) center no-repeat;
    background-size: contain;
    bottom: 1.5em;
    left: 1.5em;
    /*
    top: 1.5em;
    transform: translateY(-45%);
    */
    z-index: 1;
  }
  #container_home_header::after {
    background-image: url(images/azusa-border-light.svg);
  }

  .azusa-band #container_header {
    background-image: url(images/band.jpg) !important;
    background-position: center !important;
  }

  .azusa-singers #container_header {
    background-image: url(images/singers.jpg) !important;
    background-position: center !important;
  }

  .azusa-graduates #container_header {
    background-image: url(images/graduates.jpg) !important;
    background-position: center !important;
  }

  .azusa-athletics #container_header {
    background-image: url(images/athletics.jpg) !important;
    background-position: center !important;
  }

  .azusa-football #container_header {
    background-image: url(images/football.jpg) !important;
    background-position: center !important;
  }

  .azusa-academics #container_header {
    background-image: url(images/four-students.png) !important;
    background-position: bottom !important;

    height: 55vh !important;
    min-height: 40vw;
  }

  .azusa-student-body #container_header {
    background-image: url(images/student-body.jpg) !important;
    background-position: center !important;
  }

  .azusa-girls-golf #container_header {
    background-image: url(images/girls-golf.jpg) !important;
    background-position: 50% 25% !important;
  }

  /*
  .azusa-girls-tennis #container_header {
    background-image: url(images/girls-tennis.jpg) !important;
    background-position: 1.5em calc(100% - 1.5em), 50% 75%, bottom !important;
  }
  */

  /*
  .azusa-life #container_header {
    background-image: url(images/best-buddies.jpg) !important;
  }
  */

  .azusa-college #container_header {
    background-image: url(images/college.jpg) !important;
    background-position: center !important;

    height: 55vh !important;
    min-height: 40vw;
  }

  .azusa-rotc #container_header {
    background-image: url(images/rotc.jpg) !important;
    background-position: 50% 25% !important;
  }

  .azusa-campus #container_header {
    background-image: url(images/campus.jpg) !important;
    background-position: bottom !important;
  }

  .azusa-staff #container_header {
    background-image: url(images/staff.jpg) !important;
    background-position: 50% 40% !important;
  }

  @media (false) and (max-aspect-ratio: 1/1) {
    /*
    background-size: 200px auto, auto 80%, auto !important;
    */

    #container_home_header,
    #container_header {
      height: 35vh !important;
      min-height: unset;
    }
  }

  #container_header h2,
  #container_home_header h2 {
    margin-top: 0 !important;
  }

  #container_header h1,
  #container_home_header h1,
  #container_header img,
  #container_home_header img {

    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

  .nav_public {
    background-image: url(images/aztec-pattern.png) !important;
    background-position: bottom !important;
    background-size: auto 1.25em !important;
    background-repeat: repeat-x !important;
    padding-bottom: 1.25em;
  }

  /* Position the navigation at the top */
  .nav_public {
    position: absolute;
    top: -4.25em;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  #container_home_header,
  #container_header {
    margin-top: 4.25em;
  }

  /*
  .nav_public > table > tbody > tr > td + td[style*="vertical-align"] {
    position: absolute;
    right: 1.5em;
    margin-top: 5.5em;
  }

  */
  .nav_public ul {
    display: flex;
    justify-content: space-around;
  }
  .nav_public ul li {
    display: inline-block;
    float: none;
  }

  @media (min-width: 2000px) {
    .nav_public ul {
      justify-content: center;
      padding-left: 225px;
    }
  }

  #container_content_home > .content_full > div:first-child > div:first-child {
    width: auto !important;
  }

  .block_content_main p {
    font-size: unset !important;
    font-family: unset !important;
  }

  body {
    background-image: none;
    background-color: rgb(237, 237, 239);
    font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  a,
  a:link,
  a:visited {
    color: rgb(6, 100, 62); /* --green */
  }

  a:hover,
  a:active,
  a:focus {
    color: black;
  }

  .block_content_main a,
  .block_content_main a:link,
  .block_content_main a:visited {
    color: rgb(6, 100, 62); /* --green */
  }

  .link_list a,
  .link_list a:link,
  .link_list a:visited,
  #nav_page .page_button a,
  #nav_page .page_button_2 a {
    background-image: none;
    background-color: transparent;
    border-width: 0;
    color: rgb(6, 100, 62); /* --green */
    font-weight: inherit;
    text-decoration: underline;
  }

  .link_list a:hover,
  .link_list a:active,
  .link_list a:focus {
    background-image: none;
    background-color: transparent;
    border-width: 0;
    color: black;
  }

  .block_text a {
    text-decoration: underline;
  }

  h2 {
    font-family: inherit;
    font-weight: bold;
    text-transform: inherit;
    font-family: "Cardo", "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(6, 100, 62); /* --green */
  }

  .link_list h2,
  .content01 h2,
  .content02 h2,
  .content03 h2,
  .block_content_main h2,
  .block_content_left h2,
  .block_content_right h2 {
    font-family: inherit;
    font-weight: bold;
    text-transform: inherit;
    background-image: none;
    color: rgb(6, 100, 62); /* --green */
    padding-left: 0;
    border-color: rgb(212, 212, 212);
  }

  #calendar {
    background-image: none;
  }

  #page_title {
    padding-top: 0.75em;
    font-family: Merriweather, Cardo, "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: inherit;
    background-image: none;
    color: rgb(6, 100, 62); /* --green */
    padding-left: 25px;
    font-size: 2em;
    line-height: 1.125;
  }

  /*
  @supports(transform: translateY(-100%)) {
    #page_title {
      margin-top: 0;
      position: absolute;
      transform: translateY(-100%);
    }
  }
  */

  @media (min-width: 45em), {
    #page_title {
      font-size: 5vw;
    }
  }

  @media (min-height: 45em) {
    #page_title {
      font-size: 5vh;
    }
  }

  @supports(zoom: 1) {
    @media (min-width: 1300px) {
      body {
        zoom: 1.3;
      }

      #container_header {
        height: 45vh !important;
        min-height: 25vw;
      }

      #page_title {
        font-size: 4.5vw;
      }
    }

    @media (min-width: 1400px) {
      body {
        zoom: 1.4;
      }
    }
  }

  #nav_page_top {
    margin-top: 3em;
    background: transparent;
  }
  #nav_page_bottom {
    background: transparent;
  }

  #container_page {
    border: 1px solid;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 970px;
  }

  #container_content,
  #container_content_home {
    width: 100%;
    min-width: 970px;
  }

  #container_footer {
    border-width: 0;
  }

  #container_header,
  #container_home_header {
    border-width: 0;
  }

  #container_header img,
  #container_home_header img {
    display: block;
    float: left;
    height: 4.5em;
    width: auto;
    margin-right: 0.75em;
  }

  #container_header h2,
  #container_home_header h2 {
    margin-top: 0.75em;
    font-weight: bold;

    font-family: Merriweather, Cardo, "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;

    line-height: 1.5;
    font-size: inherit;
    color: inherit;
    text-align: left;
  }

  #container_header td,
  #container_home_header td {
    vertical-align: middle;
  }

  #container_header p,
  #container_home_header p {
    font-style: italic;
    line-height: 1.5;
    text-align: left;
  }

  #container_header,
  #container_home_header,
  #container_footer {
    background-image: unset;
    color: unset;
    height: auto;
    padding: 1.5em;
  }

  #container_header a,
  #container_home_header a,
  #container_footer a {
    color: unset;
  }

  .nav_public {
    background-image: none;
    border-color: rgb(6, 100, 62); /* --green */
  }

  .footer_footnote {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3em 1.5em 1.5em;
  }

  .footer_footnote p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .footer_footnote .legal {
    margin-top: 3em;
    margin-bottom: 1.5em;
  }

  .footer_footnote .legal h2 img {
    width: 5.25em;
    height: 5.25em;
  }

  .nav_public {
    height: auto;
    min-height: 32px;
    background: rgb(6, 100, 62); /* --green */
    color: rgba(255, 255, 255, 0.9);
  }

  .nav_public ul {
    font-size: inherit;
    text-align: center;
  }

  .nav_public ul:after {
    content: "";
    display: table;
    clear: both;
  }

  .nav_public form {
    padding: 0 !important;
  }

  .nav_public > table,
  .nav_public > table > tbody,
  .nav_public > table > tbody > tr,
  .nav_public > table > tbody > tr > td {
    display: block;
  }

  .nav_public form table {
    float: none !important;
    width: auto !important;
  }

  .nav_public > table > tbody > tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_public a,
  .nav_public .selected a,
  .nav_public a:visited,
  .nav_public a:hover,
  .nav_public a:active,
  .nav_public a:focus {
    font-weight: normal;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background-color: transparent;
    background-image: none;
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    height: auto;
    padding-left: 0;
    padding-right: 1em;
    padding: 0.75em 1em 0.75em 0;
  }

  .nav_public li > a,
  .nav_public .selected li > a,
  .nav_public li > a:visited,
  .nav_public li > a:hover,
  .nav_public li > a:active,
  .nav_public li > a:focus {
    color: white !important;
    border-width: 0;
  }

  .search_input {
    font-family: inherit;
    font-size: inherit;
    border-width: 0;
    border-radius: 0.25em;
    padding: 0.375em;
    width: 10em;
    max-width: 100%;
    background-color: white;
    transition: background-color 0.2s;
    margin-right: 0.1em;
  }

  .search_btn,
  .search_btn:hover {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: rgb(6, 100, 62); /* --green */
    background-color: black;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-width: 0;
    padding: 0.375em 0.75em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;
  }

  table[style*="width"] {
    width: 100% !important;
  }

  table[style*="width"] #block_hub_main {
    width: 64.58333333%; /* 465px / 720px */
    width: auto;
    float: none;
  }

  table[style*="width"] #block_hub_main div[style*="width"] {
    width: 64.58333333% !important; /* 465px / 720px */
    width: auto !important;
  }

  table[style*="width"] #block_hub_right {
    padding-right: 20px;
  }

  table[cellpadding] {
    border-spacing: 0;
    border-width: 0;
    border-collapse: collapse;
  }

  table[cellpadding] th,
  table[cellpadding] td {
    border-width: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0;
  }

  table[cellpadding] tr + tr th,
  table[cellpadding] tr + tr td {
    border-width: 1px 0 0 0;
  }

  table img {
    border-width: 0 !important;
  }

  /* Make home page center column wider */

  #container_content_home .content02 > div > div[style*="width"] {
    width: auto !important;
  }

  iframe[src*="calendar.google.com"] {
    width: 100%;
  }

  .azusa-home-introduction {
    /*
    background-color: rgb(237, 237, 239);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent), url(images/four-students.png);
    background-size: cover, auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    padding-bottom: 2em;
    color: white;
    padding-top: 5vh;
    */

    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 55vh;
    min-height: 32.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding-bottom: 3em;
  }
  .azusa-home-introduction iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .azusa-home-introduction .video {
    margin: 0;
  }
  .azusa-home-introduction .video a {
    display: block;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    /* background-color: black; */
    /* background-color: rgba(0, 0, 0, 0.9); */
    color: white;
    padding: 0.46875em 0.9375em;
    /* @line-height x 3/8     @line-height x 3/4 */
    line-height: inherit;
    /* border-radius: 2.1875em; */
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    margin: 0;
    text-decoration: none;
    /* background-color: white; */
    /* color: black !important; */
    padding: 0 !important;
    text-shadow: none;
    text-indent: -9999px;
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193 224"><polygon fill="white" points="0,224 193,112 0,0 1,224" /></svg>'); */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTMgMjI0Ij48cG9seWdvbiBmaWxsPSJ3aGl0ZSIgcG9pbnRzPSIwLDIyNCAxOTMsMTEyIDAsMCAxLDIyNCIgLz48L3N2Zz4K');
    background-repeat: no-repeat;
    overflow: hidden;
    width: 7.5em;
    height: 7.5em;
    background-size: 50% auto;
    background-position: 65% 50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    /* height: 100%; */
    /* height: calc(100% - 6em); */
    z-index: 9999;
    border: 0.75em solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .azusa-home-introduction .video a:hover,
  .azusa-home-introduction .video a:active,
  .azusa-home-introduction .video a:focus {
    opacity: 1;
  }
  #container_home_header {
    /* SHIM: Offset the content spacing element */
    /*
    margin-bottom: -20px;
    */
  }
  #container_home_header,
  .azusa-home-introduction {
    height: 70vh !important;
    min-height: 55vw;
  }
  #container_home_header {
    background-position: center !important;
  }
  #container_home_header::after {
    bottom: auto;
    left: 50%;
    top: 2.25em;
    width: 18.75vw;
    height: 15vw;
    transform: translateX(-50%);
  }
  @media (max-aspect-ratio: 1/1) {
    #container_home_header::after {
      width: 18.75vh;
      height: 15vh;
    }
  }
  #container_header::before,
  #container_home_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
    background: transparent;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    background: transparent;
  }
  #container_header::before {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.25), transparent);
    background: transparent;
  }
  .azusa-home-introduction h3 {
    text-align: center;
    font-family: Merriweather, Cardo, 'Roboto Slab', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    line-height: 1.125;
    text-transform: inherit;
    font-weight: bold;
    max-width: 14em;
    margin-left: auto;
    margin-right: auto;
    /*
    color: rgb(57, 164, 208);
    */
    color: white;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
  }
  @media (max-aspect-ratio: 1/1) {
    .azusa-home-introduction h3 {
      font-size: 5vh;
    }
  }
  .azusa-home-introduction h3 .lowercase {
    text-transform: inherit;
    font-family: Merriweather, Cardo, 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
    
    /*
    font-weight: 400;
    font-style: italic;
    */
  }
  .azusa-home-introduction h3 .avoid-break {
    display: inline-block;
  }
  .azusa-home-introduction p {
    margin: 0.5em 0 0 0;
    text-align: center;
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
  }
  .azusa-home-introduction a {
    color: white !important;
    text-decoration: none;
  }
  .azusa-home-introduction a:hover,
  .azusa-home-introduction a:active,
  .azusa-home-introduction a:focus {
    text-decoration: underline;
  }
  .azusa-home-introduction a:hover .avoid-break,
  .azusa-home-introduction a:active .avoid-break,
  .azusa-home-introduction a:focus .avoid-break {
    text-decoration: underline;
  }

  /*
  @media (max-aspect-ratio: 1/1) {
    #container_home_header {
      background-size: 30vh auto, contain, auto !important;
      height: 30vh !important;
    }
    .nav_public li > a {
      font-size: 2em;
    }
  }
  */

  iframe.azusa-google-calendar {
    width: 100%;
    height: 75vh;
  }

